
.App {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	padding-bottom: 20px;
	height: 700px;
	width: 500px;
	overflow-x: hidden;
    overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none; 
  }

  .App::-webkit-scrollbar {
	display: none;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }

  .modal-body{
	  height: 700px;
  }

  .widget-modal-button{
	background: none;
	border:none;
	width: 179px;
	height: 190px;
  }

  .widget-modal-button:focus, .widget-modal-button:focus{
    outline: none;
}

  .widget-title{
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 530;
	font-size: 26px;
	color: #577FFC;
	display: flex;
	position: relative;
	bottom: 13px;
	letter-spacing: -3px;
    word-spacing: 4px;
  }

  .widget-button{
	bottom: -3%;
	left: 2%;
	position: fixed;
	padding-bottom: 10px;
	padding-top: 10px;
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  .form-area-to-input, .form-area-time-input, .form-area-time-date-input{
	background: #3B3B40;
	border-radius: 4px;
	border:none;
	align-items: center;
	width: 100%;
	height: 25px;
	outline: none;
	color: white;
  }

  .form-area-time-date-input{
	  width: 100%;
	  font-size: 14px;
  }

  .form-area-time-input{
    width: 100%;
	font-size: 12px;
  }

  .next-button{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 40%;
	height: 28px;
	outline: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
    color: #FFFFFF;
    border: none;
  }

  .form-area-to-input{
	text-indent: 32px;
	font-size: 11px;
  }

  .form-area-to-input::placeholder{
	text-indent: 0px;
	color:white;
	position: fixed;
}
  
  .form-area-airporttransfer-input{
	  background: none;
	  border: none;
	  outline: none;
	  color: #FFFFFF;
	  width: 100%;
	  color: white;
  }

  .form-area-cardCvcValid-input{
	background: none;
	border: none;
	outline: none;
	color: #FFFFFF;
	width: 25%;
    text-indent: 39%;
}

.form-area-cardCvcValidNumber-input{
	background: none;
	border: none;
	outline: none;
	color: #FFFFFF;
	width: 25%;
    text-indent: 39%;
}

.form-area-cardNumber-input{
	background: none;
	border: none;
	outline: none;
	color: #FFFFFF;
	width: 50%;
}

  .form-area-airport-transfer-input{
		background: none;
		border: none;
		outline: none;
		color: #FFFFFF;
		width: 100%;
		text-indent: 5px;
  }

  .form-area-airport-transfer-input::placeholder{
	color: white;
	font-size: 14px;
}

  .autocomplete-dropdown-container{
	  z-index: 1;
	  position: relative;
  }

  .autocomplete-places-text{
	  font-size: 16px;
	  position: relative;
  }

  .form-area-airporttransfer-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }

  .form-area-cardCvcValid-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }

  .form-area-airporttransfer-input::placeholder{
	color: rgba(255, 255, 255, 0.5);
}

.form-area-rider-details-input{
	background: none;
	border: none;
	outline: none;
	color: #FFFFFF;
	font-size: 14px;
}

.form-area-rider-details-input::placeholder{
	color: #FFFFFF;
}
 
  
  .people-count-text{
	font-size: 20px;
	line-height: 0px;
	display: block;
	margin-top: 16px;
  }

  .people-count-text-paragraph{
	font-size: 12px;
	line-height: 0px;
	display: block;
	margin-top: 13px;
  }

  .hidden-element{
	  position: relative;
  }

  .pament-pay-btn{
	width: 100%;
	height: 50px;
	border-radius: 10px;
	color: white;
	border: none;
  }

  .pament-cancel-btn{
	width: 100%;
	height: 50px;
    background: #DE0000;
	border-radius: 10px;
	margin-top: 10px;
	color: white;
	border: none;
  }

  .company-logo-image{
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
  }

  .car-info-type, .car-info-capacity, .car-info-make,  .car-info-model{
	position: relative;
	display: block;
	font-weight: bold;
	font-weight: bold;
	font-size: 13px;
    left: 8%;
    top: -16%;
  }
  
  .car-info-capacity{
	left: 70%;
	top: -33%;
	font-weight: normal;
  }

  .company-fleet-text{
	  font-size: 14px;
  }

  .car-info-make{
	font-size: 28px;
  }

  .car-info-model{
	font-size: 23px;
  }

  .car-info-container{
	-ms-overflow-style: none;
    scrollbar-width: none; 
  }

  .car-info-container::-webkit-scrollbar {
	display: none;
  }

  .order-notes-area{
	  width: 100%;
	  height: 100%;
	  resize: none;
	  outline: none;
	  border-radius: 10px;
	  background: #919191;
	  color: black;
  }

  .car-info-type-preview, .car-info-capacity-preview, .car-info-make-preview, .car-info-model-preview{
	position: relative;
	display: block;
	font-size: 13px;
	left: 3%;
	top: -25%;
  }

  .car-info-capacity-preview{
    left: 30%;
    top: -42%;
  }

  .car-info-make-preview{
	left: 15%;
	font-size: 18px;
  }

  .car-info-model-preview{
	left: 15%;
	font-size: 18px;
  }

  .rider-details-container{
	  margin-top: 20px;
  }

  .rider-details-text{
	  margin-left: 10px;
  }

  .payment-information-text{
	  margin-left: 10px;
  }

  .cancelation-checkbox{
	  margin-left: 20px;
  }

  .radio-rider-yes{
	  margin-left: 15px;
  }

  .airport-transfer-radio{
	  margin-left: 3px;
  }

  .termofuse-text{
	  text-decoration: underline;
	  cursor: pointer;
  }

  .airport-transfer-yes-text{
	  margin-left: 10px;
  }

  .airport-transfer-direction-text{
	margin-left: 12px;
}

  .sedan-img{
	width: 90%;
	height: 100%;
	pointer-events: none;
  }

  .location-container-input{
	height: 40px;
	position: relative;
  }

  .form-area-add-destination{
    position: relative;
    left: 93%;
    bottom: 26px;
  }

  .fake-destination-block{
	  height: 40px;
  }

  .fleet-choose-price{
	position: relative;
    top: 11%;
    font-weight: bold;
  }
  .form-area-add-destination-from{
    color: white;
    position: relative;
    left: 6%;
	bottom: 13.4px;
    font-size: 16px;
	width: 20px;
	position: absolute;
  }

    .forem-area-airlines-input:-webkit-autofill,
	.forem-area-airlines-input:-webkit-autofill:hover, 
	.forem-area-airlines-input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  font-size: 14px !important;
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
  box-shadow: 0 0 0px 1000px #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
}
	.form-area-airport-transfer-input:-webkit-autofill,
	.form-area-airport-transfer-input:-webkit-autofill:hover, 
	.form-area-airport-transfer-input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  font-size: 14px !important;
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
  box-shadow: 0 0 0px 1000px #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
}
	.form-area-airporttransfer-input:-webkit-autofill,
	.form-area-airporttransfer-input:-webkit-autofill:hover, 
	.form-area-airporttransfer-input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  font-size: 14px !important;
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
  box-shadow: 0 0 0px 1000px #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
}

	.form-area-rider-details-input:-webkit-autofill,
	.form-area-rider-details-input:-webkit-autofill:hover, 
	.form-area-rider-details-input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  font-size: 14px !important;
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
  box-shadow: 0 0 0px 1000px #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#accordion-id{
	border: none;
	background: none;
	height: 180px;
	width: 180px;
}
#accordion-id[type="button"]{
	outline:none;
 }
 #accordion-id[type="button"]::-moz-focus-inner {
	border: 0;
 }

 .accordion-fixed-top-right{
	 position: relative;
	 right: -4%;
	 top: 36px;
 }

 .booking-widget-title-block{
	position: sticky;
    top: 0;
    z-index: 1;
 }

 .booking-preloader-img{
	margin-left: 6.5%;
 }

 .bookinglane-form-area-down-arrow{
	 left: 50%;
	 position: relative;
	 top: 0px;
 }

 .bookinglane-form-area-down-arrow-second{
	left: 50%;
	position: relative;
	top: 10px;
 }

 .bookinglane-form-area-down-arrow-right{
    left: 55%;
	position: relative;
	top: 0px;
 }
 .bookinglane-form-area-down-arrow-right-second{
    left: 55%;
	position: relative;
	top: 10px;
 }

.arrow-down span {
	display: block;
	position: absolute;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid white;
	margin: -28px;
	transform: rotate(20deg);
    animation: arrow-down 2s infinite;
}

.arrow-right span {
	display: block;
	position: absolute;
    width: 40px;
    height: 40px;
    border-right: 2px solid white;
	margin: -28.4px;
	transform: rotate(67deg);
    animation: arrow-right 2s infinite;
}

.booking-plus-circle-button{
	border: 1px solid #878787;
    border-radius: 50%;
    display: inline-block;
	height: 25px;
	width: 25px;
    margin-left: 8px;
    vertical-align: middle;
	background: none;
	user-select: none;
}

.booking-plus-circle-button:active {outline: none;}
	
.booking-plus-circle-button:focus {outline:0;}

.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
.arrow-right span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-right span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(20deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(20deg);
    }
}

@keyframes arrow-right {
    0%{
        opacity: 0;
        transform: rotate(67deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(67deg);
    }
}

.booking-suv-image-icon{
	width: 100%;
	height: 80px;
	margin-bottom: 20px; 
	position: relative;
	top: -13px;
}

.booking-limo-image-icon {
	width: 88%;
	height: 79px;
	margin-left: 13%; 
	position: relative;
    top: -13px;
}

.booking-minibus-image-icon {
	width: 85%;
	height: 40px;
	margin-top: 14px;
}

.container-boboking-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 21px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-boboking-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-booking-checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: white;
  }
  
  /* On mouse-over, add a grey background color */
  .container-boboking-checkbox:hover input ~ .checkmark-booking-checkbox {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-boboking-checkbox input:checked ~ .checkmark-booking-checkbox {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-booking-checkbox:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container-boboking-checkbox input:checked ~ .checkmark-booking-checkbox:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-boboking-checkbox .checkmark-booking-checkbox:after {
	left: 40%;
    top: 19%;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  .circle-icon-plus-minus{
	position: relative;
	left: 35%;
	top: -7%;
  }

@media screen and (max-height: 690px) {
	.App {height: 580px;}
   }


 @media screen and (max-width: 500px) {
	.App {width: 100%;}

	.booking-plus-circle-button{

	}

	.widget-title{
		left: 0px;
	}

	.form-area-add-destination{
		left: 92%;
	  }

	.booking-preloader-img{
		margin-left: -11%;
	 }
	 .booking-minibus-image-icon {
		margin-top: 9px;
		height: 30px;
	}
	.booking-limo-image-icon {
		height: 62px;
	}
	.booking-suv-image-icon{
		height: 57px;
		margin-bottom: 0px; 	
		margin-top: 5px;
	}
	.form-area-cardCvcValid-input{
		text-indent: 17%;
	}
	.car-info-capacity{
		left: 67%;
	}
   }

.forem-area-airlines-input{
	background: none;
	border: none;
	outline: none;
	color: #FFFFFF;
	width: 100%;
}

.forem-area-airlines-input::placeholder{
	color: white;
	font-size: 14px;
}

.form-area-from-input{
	background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border:none;
    align-items: center;
    width: 100%;
    height: 29px;
    outline: none;
    color: white;
    text-indent: 45px;
    font-size: 16px;
}
.form-area-from-input::placeholder{
	text-indent: 0px;
	color:white;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes pulse {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(87, 127, 252, 1);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
  }
  @keyframes pulse {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(87, 127, 252, 1);
	  box-shadow: 0 0 0 0 rgba(87, 127, 252, 1);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
  }